<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link rel="stylesheet"  th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/helper.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/app.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.min.css}" />
    <link rel="stylesheet" th:href="@{/fonts/FontAwesome.otf}" />
<link  rel="stylesheet" th:href="@{/fonts/iconfont.min.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>

<div>
    <div id="main-wrapper" >
        <!-- Section start-->
        <div class="hero-section section position-relative">
            <!-- container-->
            <div class="hero-slider section">
                <div class="hero-item" th:style="'background-image: url(http://drive.google.com/uc?export=view&id=1zVqU3fffVSPX6vuCKVsqr8v7qbSgTl1m)'">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="hero-property-content text-center">

                                    <h1 class="title">
                                        sky villa
                                    </h1>
                                    <span class="location">
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1QEpnEcRjxbpGBK7PY2t2jYXqD82mq10g}" alt="" />
                                            jbeil, lebanon
                                        </span>
                                    <div class="type-wrap">
                                        <span class="type">For Rent</span> <span class="price">$750
                                                <span>Month</span>
                                            </span>
                                    </div>
                                    <ul class="property-feature">
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1RNwCTIKqjV-CkEMD5LWbon0AasLiz58U}" alt="" />
                                            <span>550 SqFt</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1nknFRR4c03e37sjn5_moqEUx-u5uHow4}" alt=""/>
                                            <span>3 Bed</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1KceE76KbQIlz4BbEu7QRmKrXqk_DnrIv}" alt=""/>
                                            <span>4 Bath</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1YolcuLW2TR6kRi87mhv2cJBs5YsYFt5E}" alt=""/>
                                            <span>2 Garage</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-item swap-animation" th:style="'background-image: url(http://drive.google.com/uc?export=view&id=1RQIm5peHOcmQJ8loZ4Pmp9mBF5Wb1-ud)'">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="hero-property-content text-center">
                                    <h1 class="title">
                                        Dream Villa
                                    </h1>
                                    <span class="location">
                        <img th:src="@{http://drive.google.com/uc?export=view&id=1QEpnEcRjxbpGBK7PY2t2jYXqD82mq10g}" alt=""/>
                        Nabatieh, South Lebanon
                    </span>
                                    <div class="type-wrap">
                                        <span class="type">For Rent</span> <span class="price">$850
                            <span>Month</span>
                        </span>
                                    </div>
                                    <ul class="property-feature">
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1RNwCTIKqjV-CkEMD5LWbon0AasLiz58U}" alt=""/>
                                            <span>650 SqFt</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1nknFRR4c03e37sjn5_moqEUx-u5uHow4}" alt=""/>
                                            <span>6 Bed</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1KceE76KbQIlz4BbEu7QRmKrXqk_DnrIv}" alt=""/>
                                            <span>4 Bath</span>
                                        </li>
                                        <li>
                                            <img th:src="@{http://drive.google.com/uc?export=view&id=1YolcuLW2TR6kRi87mhv2cJBs5YsYFt5E}" alt=""/>
                                            <span>3 Garage</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-60 mb-xs-30">
                        <div class="section-title center">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>

                <div class="row row-30 align-items-center">
                    <div class="col-lg-5 col-12 mb-30">
                        <div class="property-slider-2">
                            <div class="property-2">
                                <div class="property-inner">

                                    <img th:src="@{http://drive.google.com/uc?export=view&id=1Q8GonUV3jkRrGuoqVCXcoMO5oUGMTHwT}" alt=""/>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-12">
                        <h4>
                            We are <b>SAMSARA,</b> a home rental mediator that mainly works
                            as the middleman that provides various options of apartments for
                            rent or sale in Lebanon, and that's where the name of the web
                            application was inspired from<br />
                            <br/> <b>SAMSARA</b> was recognized with the spread of
                            suffering of people in order to find proper apartment that
                            satisfies their needs.
                            <br/>
                            Whether you're looking
                            for an apartment to rent or you have one that you need it to
                            be rented, we are your best choice. You can decide in all
                            freedom based on the features and details provided with every
                            apartment whether or not you would like to rent it.
                        </h4>
                    </div>
                </div>


            </div>
        </div>

        <div class="funfact-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
            <div class="container">

                <div class="row">
                    <div class="single-fact col-lg-3 col-6 mb-30">
                        <div class="inner">
                            <div class="head">
                                <i class="pe-7s-home"></i>
                                <h3 class="counter" th:text="${availablePostCount}"></h3>
                            </div>
                            <p>Properties Available</p>
                        </div>
                    </div>

                    <div class="single-fact col-lg-3 col-6 mb-30">
                        <div class="inner">
                            <div class="head">
                                <i class="pe-7s-graph3"></i>
                                <h3 class="counter" th:text="${unavailablePostCount}">0</h3>
                            </div>
                            <p>Property Sold</p>
                        </div>
                    </div>

                    <div class="single-fact col-lg-3 col-6 mb-30">
                        <div class="inner">
                            <div class="head">
                                <i class="pe-7s-users"></i>
                                <h3 class="counter" th:text="${clientCount}"></h3>
                            </div>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="single-fact col-lg-3 col-6 mb-30">
                        <div class="inner">
                            <div class="head">
                                <i class="pe-7s-medal"></i>
                                <h3 class="counter">80</h3>
                            </div>
                            <p>Awards Win</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--Funfact end-->

        <!--Features start-->
        <div class="feature-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="feature-wrap row row-25">

                    <div class="col-lg-4 col-sm-6 col-12 mb-50">
                        <div class="feature">
                            <div class="icon">
                                <i class="pe-7s-map"></i>
                            </div>
                            <div class="content">
                                <h4>Easy to Use</h4>
                                <p>Our website is well designed for you to scroll through
                                    various choices in an easy way.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-12 mb-50">
                        <div class="feature">
                            <div class="icon">
                                <i class="pe-7s-piggy"></i>
                            </div>
                            <div class="content">
                                <h4>No Extra Fees</h4>
                                <p>At SAMSARA we have no extra price fees. This means we
                                    only charge you the original price of the apartment.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-12 mb-50">
                        <div class="feature">
                            <div class="icon">
                                <i class="pe-7s-display1"></i>
                            </div>
                            <div class="content">
                                <h4>Visual Choices</h4>
                                <p>The image is worth a thousand words, and we know how
                                    important it is to you to see the apartment visually.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $(document).ready(function(){
    // Initialize Slick slider
    $('.hero-slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false,
         adaptiveHeight: true,
        prevArrow: '<button class="slick-prev"><i class="fa fa-angle-left"></i></button>',
        nextArrow: '<button class="slick-next"><i class="fa fa-angle-right"></i></button>',
        responsive: [
            {
                breakpoint: 992,
                settings: {
                    dots: true,
                    arrows: false,
                    adaptiveHeight: true,
                }
            },
        ]
    });
});
</script>

</body>
</html>

