<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Apartment Price Prediction</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link rel="stylesheet"  th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/helper.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/app.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.min.css}" />
    <link rel="stylesheet" th:href="@{/fonts/FontAwesome.otf}" />
    <link rel="stylesheet" th:href="@{/css/icons.min.css}" />
    <link  rel="stylesheet" th:href="@{/fonts/iconfont.min.css}">
    <style>
    .bt{
    width: auto;
    background-color: rgb(0, 67, 149);
    color: rgb(249, 195, 34);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-radius: 0;
    border-image: initial;
    padding: 10px 40px;
    margin-bottom: 30px;
    }
    .bt:hover {
    background-color: rgb(249, 195, 34);
    color: rgb(0, 67, 149);
    }

    /* Custom CSS for styling */
    .custom-style {
      font-size: 20px; /* Set the font size as per your requirement */
      font-weight: bold;
      border: 2px solid #007bff; /* Set border properties */
      padding: 10px; /* Add padding for better appearance */
      text-align: center; /* Center the text */

    </style>
    </style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container mt-5">
    <form action="/predict/predictApartmentPrice" th:object="${predict}" method="post">

        <!-- Area Input -->
        <div class="form-group">
            <label for="area">Area:</label>
            <input type="number" class="form-control" id="area" name="area" th:field="*{area}" required>
        </div>

        <!-- Bedroom Input -->
        <div class="form-group">
            <label for="bedroom">Bedroom:</label>
            <input type="number" class="form-control" id="bedroom" name="bedroom"  th:field="*{bedroom}" required>
        </div>

        <!-- Bathroom Input -->
        <div class="form-group">
            <label for="bathroom">Bathroom:</label>
            <input type="number" class="form-control" id="bathroom" name="bathroom" th:field="*{bathroom}" required>
        </div>

        <!-- Stories Input -->
        <div class="form-group">
            <label for="stories">Stories:</label>
            <input type="number" class="form-control" id="stories" name="stories"  th:field="*{stories}" required>
        </div>

        <!-- Parking Input -->
        <div class="form-group">
            <label for="parking">Parking:</label>
            <select class="form-control" id="parking" name="parking"  th:field="*{parking}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Other boolean fields -->
        <!-- Use similar select elements for ,  airconditioning, prefarea -->
        <div class="form-group">
            <label for="mainroad">Mainroad:</label>
            <select class="form-control" id="mainroad" name="mainroad"  th:field="*{mainroad}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="guestroom">Guestroom:</label>
            <select class="form-control" id="guestroom" name="guestroom"  th:field="*{guestroom}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="basement">Basement:</label>
            <select class="form-control" id="basement" name="basement"  th:field="*{basement}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hotwaterheating"> hot water heating:</label>
            <select class="form-control" id="hotwaterheating" name="hotwaterheating"  th:field="*{hotwaterheating}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prefarea">Pref area:</label>
            <select class="form-control" id="prefarea" name="prefarea"  th:field="*{prefarea}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="airconditioning">Air conditioning:</label>
            <select class="form-control" id="airconditioning" name="airconditioning"  th:field="*{airconditioning}" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="furnishingstatus">Furnishing Status:</label>
            <select class="form-control" id="furnishingstatus" name="furnishingstatus"  th:field="*{furnishingstatus}" required>
                <option value="furnished">Furnished</option>
                <option value="semi-furnished">Semi-furnished</option>
                <option value="unfurnished">Unfurnished</option>
            </select>
        </div>


        <!-- Submit Button -->
        <button type="submit" class="btn bt">Submit</button>
    </form>
    <div class="form-group" th:if="${not #strings.isEmpty(predictedPrice)}" >
        <p id="predictedPrice" th:text="${predictedPrice}+'$' " class="custom-style"></p>
    </div>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>