<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link rel="stylesheet"  th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/helper.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/app.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.min.css}" />
    <style>
        .sold-out-label {
    background-color: #405189;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* CSS for disabled appearance */
.property-item.sold-out {
    opacity: 0.6; /* Reduce opacity for the disabled appearance */
    pointer-events: none; /* Disable pointer events */
}
    </style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h1>Search Results</h1>
        </div>
    </div>
    <div class="row">
        <div th:each="post : ${post}" class="property-item mb-40 col-4" th:classappend="${!post.available} ? 'sold-out' : ''">
            <a th:href="@{/post/view-post-Detail/{ID}(ID=${post.id})}">
                <div class="property-inner ">
                    <div class="image">
                        <div th:each="image : ${post.images}">
                            <td>
                                <img alt="" th:src="'data:image/jpeg;base64,' + ${image.image}">
                            </td>
                        </div>


                        <ul class="property-feature">
                            <li>
                                        <span class="area">
                                            <img src="http://drive.google.com/uc?export=view&id=12pl1CMox-BSLAmQ43G_9-eTuiE0oJOH6" alt="" th:text="${post.area}"></span>
                            </li>
                            <li>
                                        <span class="bed">
                                            <img src="http://drive.google.com/uc?export=view&id=1lWwcNolnIGzhKA44SFGJx57lYDzI7TE8" alt="" th:text="${post.bedroomNb}"></span>
                            </li>
                            <li>
                                        <span class="bath">
                                            <img src="http://drive.google.com/uc?export=view&id=1_6GbQnj30rmjc8OwXe7bgb5dh8I4sUE1" alt="" th:text="${post.bathroomNb}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="left">
                                    <span class="location">
                                        <img src="http://drive.google.com/uc?export=view&id=1HGbxyuvjC1-SSh4Nrbpvx7v_AOb5QhmN" alt="" th:text="${post.location}"></span>
                        </div>
                        <div class="right">
                            <div class="type-wrap">
                                        <span class="price" th:text="${post.price}">
                                            <p>$</p>
                                        </span>
                                <span class="type" th:text="${post.status}"></span>
                                <span th:if="${!post.available}" class="sold-out-label">Sold Out</span>
                            </div>
                        </div>
                        <div class="wishlist">
                            <form th:action="@{/wish/add/{postId}(postId=${post.id})}" method="post">
                                <button type="submit" style="border:none; background: transparent;"><i class="far fa-heart"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
</div>

<div th:replace="fragment/footer :: footer"></div>

</body>
</html>
