<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seller Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet"  th:href="@{/css/style.css}" />
        <link rel="stylesheet"  th:href="@{/css/site.css}" />
        <link rel="stylesheet" th:href="@{/css/helper.css}" />
        <link rel="stylesheet" th:href="@{/css/plugins.css}" />
        <link rel="stylesheet" th:href="@{/css/app.min.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/custom.min.css}" />
        <link rel="stylesheet" th:href="@{/fonts/FontAwesome.otf}" />
    <link  rel="stylesheet" th:href="@{/fonts/iconfont.min.css}">
    <style>
        .default-user-icon {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 40px; /* Adjust size */
         }
    </style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container seller-details-container">
    <div class="seller-details">
<!--        <div class="profile-photo">-->
<!--            <img alt=""th:src="'data:image/jpeg;base64,' + ${Client.profilePhoto}">-->
<!--        </div>-->

        <div class="profile-photo">
    <span th:if="${Client.profilePhoto == null or Client.profilePhoto.isEmpty()}"
          class="default-user-icon">
        <i class="fas fa-user"></i>
    </span>
            <img alt="" th:unless="${Client.profilePhoto == null or Client.profilePhoto.isEmpty()}"
                 th:src="'data:image/jpeg;base64,' + ${Client.profilePhoto}">
        </div>

        <div class="contact-details">
            <p>User Name: <span th:text="${Client.userName}"></span></p>
            <p>Phone Number: <span th:text="${Client.phoneNumber}"></span></p>
            <p>Email: <span th:text="${Client.email}"></span></p>
        </div>
    </div>
</div>
<!--<div class="card">-->
<!--    <div class="row no-gutters">-->
<!--        <div class="col-md-4 text-center">-->
<!--            <img th:src="@{'data:image/png;base64,' + ${#strings.replace(Client.profilePhoto, '\n', '')}}" class="card-img-top" alt="User Image">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" th:text="${Client.userName}"></h5>-->
<!--                <p class="card-text" th:text="${Client.phoneNumber}"></p>-->
<!--                <p class="card-text" th:text="${Client.email}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>
